@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ff-serif {
  font-family: serif;
}

.ff-sans-serif {
  font-family: sans-serif;
}

.ff-cursive {
  font-family: cursive;
}
.ff-arial {
  font-family: Arial;
}

.ff-eb-garamond {
  font-family: "EB Garamond";
}

.nabla {
  font-size: xx-large;
  font-variation-settings: "EDPT" 0, "EHLT" 23.2489;
}

.spaced-out-letters {
  letter-spacing: 3rem;
}

.spaced-out-words {
  word-spacing: 3rem;
}

.line-test {
  text-decoration: underline overline wavy red;
  line-height: 10rem;
}

.highlight {
  text-decoration: line-through rgba(240, 140, 0, 0.5) 1.4ex;
}

.indent {
  text-indent: 4rem;
}

.vertical {
  writing-mode: vertical-rl;
}

.upright {
  text-orientation: upright;
}

.shadow {
  text-shadow: 4px 4px 5px pink;
}

.pink-shadow {
  color: #feff;
  text-shadow: 1px 1px 2px #f01c, 1px -1px 2px #f0cc, -1px 1px 2px #f0fc,
    -1px -1px 2px #f0fc, 0 0 16px #f0fa, 0 0 64px #f0fd;
}

.tri-shadow {
  color: lightyellow;
  text-shadow: 1px 1px blue, 2px 2px 0 cyan, -1px -1px 0 red, -2px -2px 0 yellow;
}

.pulp-shadow {
  color: gold;
  text-shadow: -10px 10px 0 crimson, -5px 5px 0 crimson, -15px 15px 0 crimson,
    -20px 20px 0 crimson, -25px 25px 0 crimson, -30px 30px 0 crimson;
}
