@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ff-serif {
  font-family: serif;
}

.ff-sans-serif {
  font-family: sans-serif;
}

.ff-cursive {
  font-family: cursive;
}
.ff-arial {
  font-family: Arial;
}

.ff-eb-garamond {
  font-family: "EB Garamond";
}

.nabla {
  font-size: xx-large;
  font-variation-settings: "EDPT" 0, "EHLT" 23.2489;
}

.spaced-out-letters {
  letter-spacing: 3rem;
}

.spaced-out-words {
  word-spacing: 3rem;
}

.line-test {
  text-decoration: underline overline wavy red;
  line-height: 10rem;
}

.highlight {
  text-decoration: line-through rgba(240, 140, 0, 0.5) 1.4ex;
}
